a {
    text-decoration: none;
    color: #1abc9c;
}

.mydebug {
    border: 1px dashed red;
}

.bg_darkblue {
    background-color: #2c3e50;
}

.bg_blue {
    background-color: #3a546d;
}

.bg_green {
    background-color: #1abc9c;
}

.my-rounded {
    border-radius: 10px;
}

.border-none {
    border: none;
}

.border_white {
    border: 1px solid white;
}