.mydebug {
    border: 1px dashed red;
}

.bg_darkblue {
    background-color: #2c3e50;
}

.bg_blue {
    background-color: #3a546d;
}

.bg_green {
    background-color: #1abc9c;
}

.my-rounded {
    border-radius: 10px;
}
